@model IEnumerable<HorseDelux.Models.Horse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Breed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeartGirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LengthToHip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LengthOfHorse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeartGirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LengthToHip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LengthOfHorse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HorseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HorseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HorseId })
        </td>
    </tr>
}

</table>
